{% load cms_tags sekizai_tags %}

<html>
  <head>
      {% render_block "css" %}
      
	  <script type="text/javascript" src="/static/jquery-1.9.1.js"></script>
	  <script type="text/javascript" src="/static/jquery.cookie.js"></script>
	  
	  
	  

	  
  </head>
  <body>
	  {% addtoblock "css" %}
	  <link href="/static/header.css" rel="stylesheet" type="text/css" />
	  <link href="/static/css/ui-lightness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" type="text/css" />
	  
	  {% endaddtoblock %}

      {% cms_toolbar %}
	  <div id="top_quek" class="header_quek">
		  <div id="left" class="header_quek_cell">
			  <img src="/static/images/lncrnadb_logo_32.png" alt="lncrna_logo" hspace="90">	
		  </div>
		  <div id="center" class="header_quek_cell">
			  <img class="header_icon" src="/static/images/home_white.png">
			  <img class="header_icon" src="/static/images/browse_white.png">
			  <img class="header_icon" src="/static/images/submit_white.png">
			  <img class="header_icon" src="/static/images/tools_icon_white.png">
			  <img class="header_icon" src="/static/images/help_white.png">
			  <img class="header_icon" src="/static/images/email_logo_white.png">
			  
			       
			  
			  
			  
			 
			  
		  </div>
		 
		  <div id ="right" class="header_quek_cell">
			  <form action="/search" method="get">
				  <input id="header_search" type="text" name="q" value="Search lncrnadb...">
			  </form>
		  </div>
	  </div>      {% block base_content %}  
	 
	  
{% endblock %}
	  <script type="text/javascript" 
      {% render_block "js" %}
	  </script>
  </body>

</html>
